/*浮动和清除浮动*/
.fl{
    float: left;
}
.fr{
    float:right;
}
.clear{
    clear:both;
}
.clear-fix:after{
    content: "";
    display: block;
    clear: both;
}
.center{
    margin:0 auto;
}
.wrapper{
    width: 1200px;
    margin: 0 auto;
}
/*边框*/
.border-ccc{
    border: 1px solid #ccc;
}
.border-t{
    border-top:1px solid #ccc;
}
.border-b{
    border-bottom:1px solid #fff;
}
/*背景图片和精灵图*/
.bg-white{
    background: #fff;
}
.bg-grey{
    background: #f1f1f1;
}
.banner-img{
    height: 450px;
    background: url("../images/banner01.jpg") no-repeat;
    z-index: 10;
}
.service-bg{
    background-color:#fff;
    background-image:url("../images/index-p1-bg.png");
    background-repeat: no-repeat;
    background-position: left bottom;
}
.case-bg{
    background-color:#fff;
    background-image:url("../images/bg_l9wu.jpg");
    background-repeat: no-repeat;
    background-position: left bottom;
}

/*文字相关*/
.font-white{
    color: #fff !important;
}
.font-small{
    font-size: 12px;
}
.font-color999{
    color: #999;
}
.font-color666{
    color: #666;
}
.font-size48{
    font-size: 48px;
}
.text-center{
    text-align: center;
}
/*内外边距*/

.mt20{
    margin-top: 20px;
}
.mb10{
    margin-bottom: 10px;
}
.pt10{
    padding-top:10px;
}
.pt20{
    padding-top:20px;
}
.pb20{
    padding-bottom:20px;
}
.pl5{
    padding-left: 5px;
}
.px5{
    padding:0 5px;
}
/*标题组件*/
.main-title{
    background:#fff;
    position: relative;
}
.main-title h3{
    text-align: center;
    font-weight: normal;
    padding-top: 14px;
    font-size:28px;
    border-bottom: 1px solid #ccc;
    line-height: 48px;
}
.main-title p{
    text-align: center;
    color:#3399ff;
    width: 184px;
    font-size:16px;
    line-height: 28px;
    border-top:2px solid #008dcc;
    position: absolute;
    bottom:-29px;
    left: 42%;
}
.subtitle{
    display: inline-block;
    padding-left: 10px;
    font-size: 20px;
    font-weight: normal;
    width: 184px;
    height: 40px;
    line-height: 40px;
    border-bottom: 2px solid #09c;
}
.subtitle span{
    font-size: 14px;
    color:#69c;
}

.subtitle-bg{
    height: 50px;
    border-bottom:1px solid #ccc;
}
/*按钮*/
.btn{
    display: block;
    width: 78px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #fff;
    border-radius: 8px;
    text-align: center;
    color: #fff;
    font-size:14px;
}
/*副页通用导航栏*/
.general-nav{
    color: #666;
    padding:5px 0;
}
.general-nav img{
    margin-left: 20px;
    vertical-align: text-bottom;
    width: 20px;
    height: 20px;
}
.general-nav h2{
    display: inline-block;
    height: 30px;
    font:normal 18px/30px "";
    border-right: 1px dashed #ccc;
    padding: 0 14px 0 6px;
}
.general-nav span{
    display: inline-block;
    height: 20px;
    font:normal 12px/20px "";
    padding:10px 0 0 16px;
}
.general-nav span>a{
    color: #666;
}
/*副页通用边栏*/
.sidebar{
    padding: 32px 0 0 20px;
}
.sidebar li{
    width: 198px;
    border-bottom: 1px solid #ccc;
}
.sidebar li h2{
    padding-left: 6px;
    font-size:20px;
    line-height: 36px;
}
.sidebar li a{
    font-size: 14px;
    color: #999;
    line-height: 40px;
}
/*页面跳转*/
.page-jump  label{
    color:#666;
}
.page-jump  label>input[type="text"]{
    border: 1px solid #ccc;
    width: 24px;
    height: 18px;
}
.page-jump  label>input[type="submit"]{
    border: 1px solid #ccc;
    font:normal 12px/16px "";
    width: 42px;
    color: #000;
}
